:root {
    --color-primary: rgb(250, 250, 250);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-primary);
    font-family: lora, serif;
}
