<section>
  <div>
    <div class="profile">
      <img src="profile.jpg" alt="profile" width="50" height="50" />
    </div>
    <div class="Networks-contact">
      <h2>Networks</h2>
    </div>
  </div>
  <div>
    <div>
      <h2>About me</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo eos magni
        libero ex obcaecati placeat a accusantium, quidem recusandae at
        necessitatibus ducimus ipsam repudiandae error pariatur eveniet officia
        eaque neque!
      </p>
    </div>
    <div>
      <h2>Tech Stack</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis distinctio
        hic ex cupiditate eum dolores non nam eveniet, eos, eaque cumque in
        numquam ipsa corrupti quas tenetur minima ut illum.
      </p>
    </div>
    <div>
      <h2>Soft & Hard Skills</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia
        maiores nobis, consequuntur quibusdam voluptatum sequi voluptate, error
        quas sapiente commodi ea aperiam ipsum nisi dolorum facilis facere
        earum, saepe ut!
      </p>
    </div>
  </div>
</section>
